body {
    background-color: beige;
}

.main-header{
  top: 0;
  left: 0;
  position: fixed;
  padding: 8px 16px;
  width: 100%;
}
.main-header__brand {
    size: 16px;
}
.main-header > div {
    display: inline-block;
}
.main-header__brand img{
    object-fit: contain;
}
.main-nav {
    display: inline-block;
    text-align: right;
}
.main-nav_items {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}
