body {
    background-color: beige;
}

.main-header{
  top: 0;
  left: 0;
  position: fixed;
  padding: 8px 16px;
  width: 100%;
  border-bottom: 2px solid grey;
}
.main-header__brand {
    size: 16px;
}
.main-header > div {
}
.main-header__brand img{
    height: 22px;
}
.main-nav {
    text-align: right;
}
.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav_items li{
    font-size: 12px;
}
